:root {
  --bgColor:#01303f;
  --primaryColor:#02A9f7;
  --highlightColor:lightgreen;
  --darkTextColor:#89d6fb;
  --brightTextColor:#d4f0fc;
  --innactiveColor:color-mix(in srgb,var(--bgColor) 90%, black);
  --activeColor:color-mix(in srgb,var(--bgColor) 90%,white);
  --formLevel01:color-mix(in srgb,var(--bgColor) 20%,var(--primaryColor));
  --dangerColor:crimson;
  --warningColor:yellow;
  --successColor:lightgreen;
  --boxShadow:rgba(0,0,0,0.2);
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: var(--bgColor);
}

button, input {
  padding: 10px;
  margin: 5px;
  outline: transparent;
  border-radius: 10px;
  border: 1px var(--primaryColor);
  font-size: 1.1em;
}

input {
  border-radius: 0;
  border-bottom: 1px solid var(--activeColor);
}

input::-moz-placeholder {
  color: var(--brightTextColor);
}

input::placeholder {
  color: var(--brightTextColor);
}

button.longButton, button.submit {
  position: relative;
  border: 1px 1px var(--highlightColor);
  width: 90%;
}

.paddedContainer {
  padding: 10px;
}

.centerH {
  max-width: 60vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerV {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.whiteBg {
  background-color: white;
}

.iconBtn {
  text-align: center;
  font-size: 1.2em;
  background: none;
  text-align: center;
  padding: 2px;
}

.iconBtn:hover {
  font-size: 1.3em;
  color: var(--highlightColor);
  background-color: var(--primaryColor);
  transition-duration: 0.5s;
}

input {
  position: relative;
  width: 90%;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: var(--brightTextColor);
}

input:hover {
  background-color: var(--activeColor);
  border-bottom: 1px var(--highlightColor);
  transition-duration: 0.5s;
  color: var(--brightTextColor);
}

.minLen {
  padding: 3px;
  width: auto;
}

.two_columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.listView .listItem {
  margin-top: 5px;
  padding: 3px;
  background-color: none;
}

.listView :nth-child(odd) {
  background-color: --bgColor;
}

.listView .danger {
  background-color: var(--dangerColor);
  color: var(--brightTextColor);
  font-weight: bold;
}
.listView .success {
  background-color: var(--successColor);
  color: var(--brightTextColor);
  font-weight: bold;
}
.listView .cool {
  background-color: var(--highlightColor);
  color: var(--brightTextColor);
  font-weight: bold;
}

ul.searchBox {
  max-height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}
ul.searchBox li.item {
  position: relative;
  width: 100%;
  padding: 5px;
  margin: 3px;
}
ul.searchBox li.clickable:hover {
  background-color: var(--primaryColor);
  transition-duration: 1s;
}

#notification {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 10px var(--boxShadow);
  color: var(--brightTextColor);
}

@keyframes showNotification {
  0% {
    top: 100vh;
  }
  3% {
    top: 90vh;
  }
  95% {
    top: 90vh;
  }
  100% {
    top: 100vh;
  }
}
.active {
  animation-name: showNotification;
}

.passive {
  display: none;
  box-shadow: none;
}

div#loginPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

div.loginCard {
  position: relative;
  padding: 10px;
  border-radius: 20px;
  width: 30%;
  height: 50%;
  min-width: 300px;
  min-height: 350px;
  max-height: 400px;
  max-width: 400px;
  background-color: var(--formLevel01);
  box-shadow: 2px 2px 10px 10px var(--boxShadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

div.circle {
  position: relative;
  margin-inline: auto;
  margin-top: 30px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: var(--primaryColor);
}

div.loginFields {
  margin-top: 50px;
  margin-inline: auto;
}

.danger {
  background-color: crimson;
  color: white;
  font-weight: bold;
}

.success {
  background-color: lightgreen;
  color: white;
  font-weight: bold;
}

.cool {
  background-color: turquoise;
  color: white;
  font-weight: bold;
}

.innactive {
  background-color: lightgray;
  color: gray;
  font-weight: lighter;
  border-radius: darkgray;
}

#popUp {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 50;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
}

#popUp div#popUpPanel {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  min-width: 300px;
  min-height: 300px;
  background-color: white;
  border-radius: 20px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-flow: column;
}
#popUp div#popUpPanel .header {
  padding: 10px;
  margin-bottom: 20px;
}

.boldFont {
  font-size: 1.3em;
}/*# sourceMappingURL=all.css.map */