$backgroundColor:gray;


*{
    padding:0px;
    margin:0px;
}
body{
    background-color: $backgroundColor;
}
//all pages
button,input{
    padding:10px;
    margin:5px;
    outline: none;
    border-radius: 10px;
    border:none;
}
button.longButton{
    width: 90%;
}

input{
    position: relative;
    width:90%;
    background-color: lighten($color: $backgroundColor, $amount: 100);
}
//re-useable Containers
.listView :nth-child(odd){
    background-color: rgba(0,0,0,0.05);
}
.listView{
    .danger{
        background-color: crimson;
        color:white;
        font-weight: bold;
    }
    .success{
        background-color: lightgreen;
        color:white;
        font-weight: bold;
    }
    .cool{
        background-color: turquoise;
        color:white;
        font-weight: bold;
    } 
}


#notification{
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding:10px;
    border-radius: 10px;
    box-shadow:1px 1px 10px 10px rgba(0,0,0,0.2);
    color:white;
}
@keyframes showNotification{
    0%{top:100vh;}
    10%{top:90vh;}
    90%{top:90vh;}
    100%{top:100vh;}
}

.active{
    animation-name: showNotification;
    animation-duration: 4s;
}





//login page
div#loginPanel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;
}
div.loginCard{
    position: relative;
    padding:10px;
    border-radius: 20px;
    width:30%;
    height:50%;
    min-width: 300px;
    min-height: 350px;
    max-height: 400px;
    max-width: 400px;
    background-color: white;
    box-shadow: 2px 2px 10px 10px rgba(0,0,0,0.2);
    display: grid;
    grid-template-rows: 1fr 1fr;
}
div.circle{
    position: relative;
    margin-inline: auto;
    margin-top:30px;
    height:100px;
    width:100px;
    border-radius: 50%;
    background:purple;
}
div.loginFields{
    margin-top:50px;
    margin-inline:auto;
}



//colors
.danger{
    background-color: crimson;
    color:white;
    font-weight: bold;
}
.success{
    background-color: lightgreen;
    color:white;
    font-weight: bold;
}
.cool{
    background-color: turquoise;
    color:white;
    font-weight: bold;
}
//


//fontweights
.boldFont{
    font-size: 1.3em;
}