//variables and defaults

:root{
    --topNavHeight:60px;
}

*{
    padding:0px;
    margin:0px;
}




div.adminPanel{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

//sidenav styling
div.sideNav{
    position: relative;
    height:100%;
    background:gray;
    display: grid;
    grid-template-rows: 1fr 8fr;
    overflow-x: hidden;

}
div.userProfile{
    position: relative;
    width:100%;
    height: var(--topNavHeight);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: green;
}
div.navBtns{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

//main App styling
div.mainAppView{
    overflow: hidden;
}
div.topNav{
    height: var(--topNavHeight);
    background-color: lightgreen;
    display: grid;
    grid-template-columns: 1fr 1fr;
    div{
        padding:10px;
    }
}
div.appView{
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y:scroll;
    background-color: white;
}